/* Remise à zéro des marges et paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    background: url('../../Images/Accueil/3.jpg') no-repeat center center/cover;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Conteneur global de la section Login */
.Login {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#AdminIMG {
    height: 100px;
    display: grid;
    justify-self: center;
}

.Interface {
    display: grid;
    grid-template-rows: auto;
    gap: 30px;
}

.retour-site {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    color: #5e856e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.retour-site:hover {
    color: #2d4f3a;
}


/* Boîte principale du formulaire (un peu plus grande) */
.LoginContainer {
    background-color: rgba(245, 241, 225, 0.65); /* Beige avec transparence */
    border-radius: 10px;
    /*border: 2px solid #FFEDA7;*/
    width: 450px;        /* Augmentation de la largeur */
    padding: 40px;
    display: grid;
    grid-template-rows: auto 1fr; /* Première ligne pour le titre, seconde pour le formulaire */
    gap: 20px;
    box-shadow: 0 0 10px rgba(0,0,0);
    backdrop-filter: blur(10px);
    /*background: rgba(255, 255, 255, 0.2);*/
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/

}

/* Titre principal (Interface administrateur) */
.Interface h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    font-family: 'Mukta SemiBold';
}

/* Conteneur du formulaire */
.Formulaire {
    width: 100%;
}

/* Chaque groupe label/champ */
.champ {
    margin-top: 15px;
    display: grid;
    gap: 5px;
    font-family: 'Mukta Light';
}

/* Label (Identifiant / Mot de passe) */
.champ label {
    font-weight: bold;
    color: #000;
    font-size: 1.1rem;
}

/* Champs de saisie */
.champ input[type="text"],
.champ input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

/* Bouton de connexion */
.champ button {
    background-color: #9DBD91; /* Couleur de fond du bouton */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    /*transition: background-color 0.3s ease;*/
    width: 60%;
    justify-self: center;
    font-family: 'Mukta Light';
    background: linear-gradient(200deg, #9DBD91, #5e856e);
    transition: transform 0.2s ease;
    &:hover { transform: scale(1.05); }

}

/* Effet survol du bouton */
.champ button:hover {
    background-color: #5e856e;
}
