/* TableauDeBordHebergements.css */

/* Styles spécifiques pour la page Hébergements */

/* Exemple de style pour les formulaires d'hébergement */
.admin-block input[type="text"],
.admin-block textarea {
    margin-bottom: 15px;
}

/* Vous pouvez ajouter d'autres règles spécifiques pour enrichir la présentation et le comportement */

.scroll {
    height: 80vh;
    background-color: #F5F5E1;
    overflow-y: scroll;
    display: grid;
}

.action-options {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    width: 98%;
}
.action-options button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Styles pour chaque bouton */
.action-options #btn-add {
    background-color: #9DBD91;
}
.action-options #btn-add:hover {
    background-color: #7C9572;
}
.action-options #btn-modify {
    background-color: grey;
}
.action-options #btn-modify:hover {
    background-color: dimgrey;
}
.action-options #btn-delete {
    background-color: #c0392b;
}
.action-options #btn-delete:hover {
    background-color: #a93226;
}

.admin-block.actions #btn-add-colo {
    background-color: #9DBD91;
}
.admin-block.actions #btn-add-colo:hover {
    background-color: #7C9572;
}
.admin-block.actions #btn-modify-colo {
    background-color: grey;
}
.admin-block.actions #btn-modify-colo:hover {
    background-color: dimgrey;
}
.admin-block.actions #btn-delete-colo {
    background-color: #c0392b;
}
.admin-block.actions #btn-delete-colo:hover {
    background-color: #a93226;
}

.action-section {
    display: none;
}
.action-section.active {
    display: grid;
    gap: 20px;
}

/* Style du bouton sélectionné (active) */
.action-options button.active {
    /* On peut ajouter une ombre et un léger agrandissement */
    box-shadow: 0 0 8px rgba(0, 0, 0);
    transform: scale(1.02);
}

textarea {
    width: 100%;
    height: 250px;
    resize: vertical; /* ou none, both, horizontal */
}

.preview-container img {
    width: 100%;
    max-width: 400px;            /* ✅ largeur maximale contrôlée */
    aspect-ratio: 16 / 9;        /* 🔥 garde un format 16:9 */
    object-fit: cover;           /* remplit et rogne si besoin */
    border-radius: 8px;
    border: 4px solid #5E856E; /* Vert Eucalyptus */
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: block;
}




