/* TableauDeBordEquipe.css */

/* Bloc info membre */
.team-member-info label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #5E856E;
}
.team-member-info input[type="text"],
.team-member-info select,
.team-member-info textarea,
.team-member-delete select{
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Section image */
.image-section,
.team-member-info .preview-container {
    margin-bottom: 15px;
}
.preview-container img {
    max-width: 150px;
    max-height: 150px;
    border: 2px solid #5E856E;
    border-radius: 5px;
    margin-top: 15px;
}

/* Boutons d’option (Ajouter / Modifier / Supprimer) */
.action-options {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    width: 98%;
}
.action-options button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}
#btn-add-member {
    background-color: #9DBD91;
}
#btn-modify-member {
    background-color: grey;
}
#btn-delete-member {
    background-color: #c0392b;
}
.action-options button:hover {
    filter: brightness(0.9);
}
/* Bouton actif */
.action-options button.active {
    box-shadow: 0 0 8px rgba(0,0,0);
    transform: scale(1.02);
}

/* Cacher/montrer les sections */
.action-section {
    display: none;
}
.action-section.active {
    display: grid;
    gap: 20px;
}

.admin-block.actions #btn-add-member-save {
    background-color: #9DBD91;
}
.admin-block.actions #btn-add-member-save:hover {
    background-color: #7C9572;
}
.admin-block.actions #btn-modify-member-save {
    background-color: #9DBD91;
}
.admin-block.actions #btn-modify-member-save:hover {
    background-color: #7C9572;
}
.admin-block.actions #btn-delete-member-save {
    background-color: #c0392b;
}
.admin-block.actions #btn-delete-member-save:hover {
    background-color: #a93226;
}

/* Boutons internes “Enregistrer / Confirmer” */
.admin-block.actions button {
    background-color: #9DBD91;
}
.admin-block.actions button:hover {
    background-color: #7C9572;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .action-options {
        flex-direction: column;
    }
}
