/* TableauDeBordAccueil.css */

/* Style spécifique à l'image de fond et son aperçu */
.preview-container {
    margin-top: 15px;
    text-align: start;
}
.preview-container img {
    max-width: 100%;
    max-height: 300px;
    border: 2px solid #5E856E; /* Vert Eucalyptus */
    border-radius: 5px;
}

.scroll {
    height: 90vh;
    background-color: #F5F5E1;
    overflow-y: scroll;
    display: grid;
}

/* Masquer définitivement l’input natif */
input[type="file"].d-none {
    display: none !important;
}

/* Style du label-bouton */
.file-input-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;                                 /* espace icône / texte */
    width: 20%;                               /* prend toute la largeur */
    padding: 0.75rem 1rem;                     /* un peu de padding */
    font-size: 1rem;                           /* taille du texte */
    color: #5E856E;                            /* couleur du texte */
    background-color: transparent;             /* fond transparent */
    border: 2px solid #5E856E;                 /* outline initial */
    border-radius: 0.375rem;                   /* coins arrondis */
    cursor: pointer;
    transition: transform 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

/* Icône un peu plus grosse */
.file-input-label .bi {
    font-size: 1.5rem;
}

/* État hover */
.file-input-label:hover {
    transform: scale(1.02);
    background-color: #5E856E;                 /* fond success */
    color: #fff;                               /* texte blanc */
    border-color: #5E856E;                     /* outline same */
}



