/* TableauDeBordActus.css */

/* Styles spécifiques pour la page Actualités */

/* Chaque item d'actualité */
.actu-item {
    margin-bottom: 30px;
}
.actu-item p {
    margin: 10px 0 5px;
    font-weight: bold;
}
.actu-item input[type="text"],
.actu-item textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Style pour l'aperçu des images d'actualités */
.preview-container {
    margin-top: 15px;
    text-align: start;
}
.preview-container img {
    max-width: 100%;
    max-height: 300px;
    border: 2px solid #5E856E; /* Vert Eucalyptus */
    border-radius: 5px;
}
