html,
body {
    margin: 0;
    padding: 0;
}
 
main {
    font-size: 1.05em;
    line-height: 3em;
    margin-top: 12vh;
}
 
#confidentialite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../Images/Mentions_confidentialite/Photo_du_centre_avec_des_arbres.JPG);
    background-size: cover;
    background-position: center;
}
 
#texte {
    height: 70vh;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: #F5F5E1;
}
 
h1 {
    text-align: center;
}
 
@media (max-width: 1780px) {
    main {
        font-size: 1.2em;
        line-height: 2.5em;
    }
 
    #texte {
        height: 72vh;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 10rem;
        margin-right: 10rem;
        background-color: #F5F5E1;
    }
}
 
@media (max-width: 1480px) {
    main {
        font-size: 1.2em;
        line-height: 2.5em;
    }
 
    #texte {
        height: 71vh;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 10rem;
        margin-right: 10rem;
        background-color: #F5F5E1;
    }
}
 
@media (max-width: 1280px) {
    main {
        font-size: 1.05em;
        line-height: 2.5em;
    }
 
    #texte {
        height: 71vh;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 10rem;
        margin-right: 10rem;
        background-color: #F5F5E1;
    }
}
 
@media (max-width: 1000px) {
    main {
        font-size: 1.1em;
        line-height: 2.5em;
    }
 
    #texte {
        height: 71vh;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 0;
        margin-right: 0;
        background-color: #F5F5E1;
    }
}
 
@media (max-width: 768px) {
    main {
        font-size: 0.9em;
        line-height: 2.2em;
    }
 
    #texte {
        height: 73vh;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 0;
        margin-right: 0;
        background-color: #F5F5E1;
    }
}
 
@media (max-width: 667px) {
    main {
        font-size: 0.9em;
    }
 
    #texte {
        height: 70vh;
        padding: 2rem 3rem 2rem 3rem;
        margin-left: 0;
        margin-right: 0;
        background-color: #F5F5E1;
    }
}
 
@media (max-width: 480px) {
    #texte {
        height: 69vh;
        padding-top: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 0;
        margin-right: 0;
        background-color: #F5F5E1;
    }
}