body {
    font-family: 'Rubik', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

#confidentialite {
    background-image: url(../../Images/Mentions_confidentialite/Photo_du_centre_avec_des_arbres.JPG);
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-box {
    background-color: #fff;
    max-width: 1000px;
    height: 63vh;
    overflow-y: auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #444;
}

a {
    color: #0d6efd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Scrollbar style (facultatif) */
.scroll-box::-webkit-scrollbar {
    width: 8px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-track {
    background-color: transparent;
}